.ulPaginado {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  margin: 0;
}

.buttonPaginado {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e2f398;
  position: relative;
  font-weight: 500;
  font-size: 10px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
  height: 2px;
  cursor: pointer;
}

.buttonPaginado::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.buttonPaginado:hover {
  color: #e8e8e8;
}

.buttonPaginado:hover::before {
  width: 100%;
}
